
/* Styles for index.html file */

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
}

#section-1 {
    text-align: center;
    background-image:
    linear-gradient(to top, rgba(252,49,231,0.7), rgba(245, 246, 252, 0.52)),
    url("../assets/images/indexbg.jpg");
    background-position: center;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#section-1 h1 {
    padding-top: 35vh;
    color: #e2d9e9;
    font-size: 4.5vh;
}

#section-1 h1 span {
    display: block;
    font-weight: 400;
    padding-top: calc(38vh);
    margin-bottom: 10px;
}

#section-1 #whitearrow {
    width: 30px;
    height: 30px;
    margin-top: 5vh;
    margin-left: calc(50% - 15px);
    background-image: url("../assets/images/whitearrow.png");
    background-size: cover;
}

#section-2 #blackarrow {
    width: 20px;
    height: 20px;
    margin-top: 2vh;
    margin-left: calc(50% - 15px);
    background-image: url("../assets/images/whitearrow.png");
    background-size: cover;
}

#section-2 .division h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

#section-2 .division {
    height: calc(100vh / 4);
    font-size: 2vh;
}

#queue-division {
    height: 10vh;
    background-color: #422b4c;
    color: #b3ebb7;
    font-weight: 700;
    text-align: center;
}

#queue-division p {
    padding-top: 2.7vh;
    font-size: 3vh;
}

#section-2 #services-division {
    background-color: #ef1a9a;
    color: #f4f3f3;
    text-align: center;
}

#section-2 #services-division h1 {
    padding-top: 10vh;
}

#section-2 #photos-division {
    text-align: center;
    background-color: #4a27e7;
    color: #f2f3f2;
}

#section-2 #photos-division h1 {
    padding-top: 10vh;
}

#section-2 #appointment-division {
    background-color: #49116f;
    color: #f9f9f9;
    text-align: center;
}

#section-2 #appointment-division h1 {
    padding-top: 8vh;
}

#section-2 #appointment-division h1 span {
    display: block;
}

#section-2 #hours-division {
    background-color: #2a2344;
    color: #fcfcfc;
    text-align: center;
}

#section-2 #hours-division h1 {
    padding-top: 7vh;
}

#section-2 #hours-division p {
    display: block;
    margin-top: 15px;
    font-size: 2vh;
}

#section-3 {
    background-color: #252d2a;
    height: 100vh;
}

#section-3 .division {
    color: #f8f8f8;
    text-align: center;
    padding-top: 3vh;
    font-size: 2.3vh;
}

#section-3 .social-link {
    width: 95%;
    padding: 3px;
    text-align: center;
    margin-left: 2%;
}

#section-3 .social-link h3 {
    padding-top: 2vh;
    font-size: 2vh;
}

#section-3 #facebook {
    background-color: #1835aa;
    color: #fafafb;
}

#section-3 #twitter {
    background-color: #2da0f8;
    color: #fcfcfc;
}

#section-3 #google {
    background-color: #d12d3a;
    color: #f9f9fa;
}

#section-3 #yelp {
    background-color: #e56f5a;
    color: #F6F6F6;
}