
* {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#add {
    height: 20vh;
    background-color: #7bed9f;
    padding-top: 13vh;
}

#display {
    height: 20vh;
    background-color: #f1f2f6;
    padding-top: 13vh;
}

#minus {
    height: 20vh;
    background-color: #ff6b81;
    padding-top: 13vh;
}